@page "/korisnici"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BlazorErp.Shared.Models.Response.Korisnik.Korisnik
@attribute [Authorize]
@inject HttpClient Http

<h1>Korisnici</h1>


@if (korisnici == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Korisničko ime</th>
                <th>Ime i prezime</th>
                <th>Uloga</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var korisnik in korisnici.Items)
            {
            <tr>
                <td>@korisnik.KorisnickoIme</td>
                <td>@korisnik.PunoIme</td>
                <td>@korisnik.Uloga</td>
                <td>Akcije</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private KorisnikListModel korisnici;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            korisnici = await Http.GetFromJsonAsync<KorisnikListModel>("korisnici");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
