<Styled>
    .erp-page {
        width: 100% !important;
    }
    .page-naslov {
        color: white !important;
        font-weight: 600;
        line-height: 1.5;
        font-size: 22px;
    }
    .erp-page-body {        
        box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
        border-radius: 6px !important;
    }
</Styled>

<Row>
    <AntDesign.Col Class="erp-page px-4">
        <Row Class="py-3">
            <h3 class="page-naslov mb-0">@Title</h3>
        </Row>
        <Card Class="erp-page-body">
            @ChildContent
        </Card>
    </AntDesign.Col>
</Row>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
